/* ######## PRINCIPAL ######## */

body {
	font-family: 'Montserrat', 'Open Sans', sans-serif;
	font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

.content {
	width: 800px;
}

.content.padding {
	padding: 15px 20px;
}

.content.padding > h1 {
	font-size: 24px;
	color: #272760;
}

.content.padding > h3 {
	font-size: 20px;
	color: #272760;
}

.content.padding > h3 {
	font-size: 18px;
	color: #272760;
}

.content.padding > p + h1,
.content.padding > p + h2,
.content.padding > p + h3 { margin-top: 15px; }

.content.padding > p {
	font-size: 14px;
	font-weight: 400;
	color: #444;
}

.content.padding ul.bullets {
	padding-left: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #444;
}

.content.padding ul.bullets > li {
	position: relative;
	padding: 2px 0 2px 12px;
}

.content.padding ul.bullets > li::before {
	position: absolute;
	top: 10px;
	left: 0;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #272760;
	content: '';
}

.padding-y {
	padding: 30px 0;
}

.center {
	text-align: center;
}

/* ######## CORES ######## */

.light {
	display: block;
	color: #111;
	background: #eee;
}

.gray {
	display: block;
	color: #111;
	background: #ddd;
}

.dark {
	display: block;
	color: white;
	background: #24242e;
}

/* ######## TOPO ######## */

header#top > .content {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}

header#top > .content > h2 {
	margin: 0;
	font-size: 28px;
}

header#top > .content > #menu {
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
	margin: 0;
}

header#top > .content > #menu > a {
	display: inline-block;
	padding: 5px 14px;
	margin-left: 10px;
	font-size: 16px;
	line-height: 30px;
	background: rgba(255, 255, 255, 0.05);
	transition: background 200ms linear;
}

header#top > .content > #menu > a:hover,
header#top > .content > #menu > a:focus {
	background: rgba(255, 255, 255, 0.2);
}
body#home header#top > .content > #menu > a.home,
body#promocoes header#top > .content > #menu > a.promocoes,
body#sobre header#top > .content > #menu > a.sobre,
body#contato header#top > .content > #menu > a.contato {
	color: #24242e;
	background: white;
}

/* ######## PARALLAX ######## */

.parallax-image {
	display: flex;
	flex-direction: column;
	align-content: center;
	align-content: center;
	justify-content: center;
	min-height: 280px;
	background: #545469 center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: inset 0 1px 6px 0 rgba(0, 0, 0, 0.9);
}
.parallax-image.short { min-height: 0; }
.parallax-image.home { background-image: url('img/parallax-home.jpg'); }
.parallax-image.promocoes { background-image: url('img/parallax-promocoes.jpg'); }
.parallax-image.sobre { background-image: url('img/parallax-sobre.jpg'); }
.parallax-image.contato { background-image: url('img/parallax-contato.jpg'); }

.parallax-image > .text {
	position: relative;
	padding: 40px 0;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.6);
}

.parallax-image > .text > h1 {
	font-size: 72px;
	line-height: 1em;
}

.parallax-image > .text > h2 {
	font-size: 28px;
	line-height: 1.25em;
}

.parallax-image > .text > h3 {
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
}

.parallax-image > .text > p {
	font-size: 16px;
	font-weight: 300;
}

.parallax-image > .text > .spacing {
	letter-spacing: 0.15em;
}

.parallax-image > .text > a {
	display: block;
	width: 300px;
	padding: 15px 0;
	margin-top: 20px;
	text-transform: uppercase;
	background: rgba(36, 36, 46, 0.8);
	transition: background 200ms linear;
}

.parallax-image > .text > a:hover,
.parallax-image > .text > a:focus {
	background: rgba(36, 36, 46, 1);
}

.parallax-image > .text > .promo {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	box-sizing: border-box;
	height: 42px;
	padding: 7px 15px 5px 15px;
	margin: auto 0 auto auto;
	font-size: 22px;
	line-height: 30px;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: white;
	background: #b22222;
	box-shadow: 0 0 3px 0 rgba(36, 36, 46, 0.7);
}

/* ######## CATÁLOGO ######## */

.catalogo {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	align-content: stretch;
	justify-content: flex-start;
	margin-top: 10px;
}

.catalogo > a {
	flex: 0 1 auto;
	display: block;
	box-sizing: border-box;
	width: 50%;
	padding: 10px;
	margin: 0;
}

.catalogo .item {
	position: relative;
	padding: 15px;
}
.catalogo > a .item {
	transition: box-shadow 200ms linear;
}
.catalogo > a:hover .item,
.catalogo > a:focus .item {
	box-shadow: 0 0 6px 0 rgba(36, 36, 46, 0.6);
}

.catalogo .item > img {
	max-width: 100%;
	height: auto;
	margin-bottom: 8px;
}

.catalogo .item > .promo {
	display: block;
	position: absolute;
	top: 8px;
	left: -8px;
	padding: 3px 10px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: white;
	background: #b22222;
}

.catalogo .item > .promo::after {
	position: absolute;
	top: 100%;
	left: 0;
	border-top: 4px solid #5f1313;
	border-right: 4px solid #5f1313;
	border-bottom: 4px solid transparent;
	border-left: 4px solid transparent;
	content: '';
}

.catalogo .item > h4 {
	font-size: 18px;
	color: #272760;
}

.catalogo .item > p {
	font-size: 14px;
}

.catalogo .item > .preco {
	font-size: 16px;
}

/* ######## PREÇO ######## */

.preco {
	display: block;
	font-weight: 400;
	text-align: right;
}

.preco > span {
	display: inline-block;
}
.preco > span.de {
	margin-right: 20px;
	font-size: 0.65em;
	opacity: 0.6;
}
.preco > span.por {
	font-size: 1em;
}

.preco > span > span.moeda {
	margin-right: 5px;
	font-size: 0.75em;
}

.preco > span > span.valor {
	font-size: 2em;
	line-height: 1.2em;
	color: #272760;
}

.preco > span > span.valor > small {
	margin-left: 2px;
	font-size: 0.6em;
	vertical-align: top;
}


/* ######## DETALHES ######## */

.content.detalhes {
	margin-top: 140px;
}

.content.detalhes > img.thumbnail {
	margin-top: -150px;
	margin-bottom: 30px;
	box-shadow: 0 1px 5px -1px rgba(0,0,0,0.75);
}

.content.detalhes > .preco {
	padding: 30px 0;
	font-size: 32px;
	text-align: center;
}

.content.detalhes > .informacoes {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
	justify-content: space-between;
	padding: 15px 0;
}

.content.detalhes > .informacoes > li {
	flex: 1 1 auto;
	min-width: 20%;
	width: 20%;
	padding: 5px 10px;
	margin: auto;
	text-align: center;
}

.content.detalhes > .informacoes > li > h6 {
	font-size: 16px;
	font-weight: 500;
	color: #272760;
}

.content.detalhes > .informacoes > li > span {
	font-size: 14px;
	color: #444;
}

/* ######## CONTATO ######## */

.content.contato > h3 {
	margin-top: 10px;
}

.content.contato > ul.bullets {
	padding-top: 5px;
}

.content.contato > ul.bullets > li {
	margin: 5px 0;
}

.content.contato > ul > li a {
	display: inline-block;
	border-bottom: 1px solid #272760;
	color: #272760;
	transition: opacity 200ms linear;
}
.content.contato > ul > li a:hover {
	opacity: 0.7;
}

.content.contato > form {
	display: flex;
	flex-wrap: wrap;
	margin-top: 10px;
	text-align: left;
}

.content.contato > form fieldset {
	flex: 1 1 auto;
	width: 100%;
	padding: 10px 15px;
	margin: 0;
}
.content.contato > form fieldset.half { width: 50%; }

.content.contato > form fieldset > legend {
	padding: 2px 5px;
	margin: 0 auto 0 5px;
	font-size: 14px;
	color: #272760;
}

.content.contato > form fieldset > input,
.content.contato > form fieldset > textarea {
	width: 100%;
	padding: 10px 15px;
	margin-top: -8px;
	font-size: 16px;
	line-height: 22px;
	color: #272760;
	background: white;
}
.content.contato > form fieldset > textarea {
	min-height: 130px;
	height: 130px;
	resize: vertical;
}

.content.contato > form input[type=submit] {
	flex: 0 0 auto;
	display: block;
	padding: 10px 15px;
	margin: 15px 15px 15px auto;
	text-transform: uppercase;
	color: white;
	background: rgba(36, 36, 46, 0.8);
	transition: background 200ms linear;
}
.content.contato > form input[type=submit]:hover,
.content.contato > form input[type=submit]:focus {
	background: rgba(36, 36, 46, 1);
}

/* ######## RODAPÉ ######## */

footer#bottom {
	padding: 20px 0;
	font-size: 14px;
}

footer#bottom > p {
	color: #7b7b91;
}

footer#bottom a {
	display: inline-block;
	border-bottom: 1px solid #7b7b91;
	transition: all 200ms linear;
}

footer#bottom a:hover,
footer#bottom a:focus {
	color: white;
	border-bottom-color: white;
}
